body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-image: url("haikei1.jpg");
  background-color: #f0f0f0;
  color: #f0f0f0;
  line-height: 1.6;

  background-size: auto 100%;
  background-repeat: repeat;
  background-position: center top;
  background-attachment: fixed;
  background-color: #000;


}

header {
  padding: 1rem 2rem;
  text-align: center;
}


header h1 {
  font-family: 'Zen Kaku Gothic New', sans-serif;
  font-size: 3.2rem;
  font-weight: 900;
  color: #ffffff;
  letter-spacing: 0.05em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}


main {
  padding: 2rem;
  max-width: 960px;
  margin: 0 auto 1rem auto;
}

.store-list {
  list-style: none;
  padding: 0;
  display: grid;
  gap: 1.5rem;
}

.store-list li {
  display: flex;
  background-color: #faffd0;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-top: -1rem;
}

.store-list img {
  width: auto;
  height: auto;
  object-fit: cover;
}

.store-list div {
  padding: 1rem;
}

.store-list h3 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 3rem letter-spacing;
  text-shadow: 2px 2px 4px rgba(255, 44, 44, 0.6);
}

.store-list h3 {
  font-size: 2.5rem
}

.store-list p {
  margin: 0 0 0.8rem;
  color: #000000;
  font-size: 1.5rem;
}

.store-list a {
  color: #1500ff;
  text-decoration: none;
  font-weight: bold;
}


.store-list a:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
  padding: 1rem;

}

footer a {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.9);
  text-decoration: none;
}